<h1>Welcome <%=@user.username%></h1> 
<div>
<a href="/logout"class="btn btn-primary">Log out</button></a>
</div>
<br>
<div class="center">
<h3>Your Lists </h3> <b>
<br>

<% @tasks.each do |t|%>
<% if current_user == t.user %>
 <%= t.title%><a href="/tasks/<%= t.id%>/edit"> Edit list</a><br>
 <p style="white-space: pre-line"><%= t.description%></p>
<%end%>
<%end%>
<br>
</div>

<a href="/tasks/new" class="btn btn-primary">Create List</a>




