


 <form action="/tasks" method="post">
  Title: <input type="text" value="" name="title"><br> 
  Description: <textarea name="description"></textarea><br>
  
  
    <input type="submit" value="Create task">
</form>