


 <form action="/tasks" method="post">
  Title: <input type="text" required name="title"><br> 
  Description: <textarea required name="description"></textarea><br>
  <input type="submit" value="Create task">
 </form>