
<div>
<h2>Give your title a name<h2>
 <form action="/tasks" method="post">
  Title: <input type="text" required name="title"><br> 
  Description: <textarea required name="description"></textarea><br>
 <input type="submit" class="btn btn-primary" value="Create task">
 </form>
 </div>