<h3>Show page </h3>
<h1><%=@task.title %></h1>
<h2><%=@task.description%></h2>
<% if @task.user == current_user %>
    <a href="/tasks/<%= @task.id %>/edit">Update</a>
<form action="/tasks/<%= @task.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete list">
</form>
<%end%>
<br>
<a href='/tasks'>Go Home</a>