<h1 >Sign Up</h1>

<form action="/signup" method="post">
    Enter Username: <input type=text name="username" ><br>
    Enter Password: <input type=password name="password" ><br>
    <input class="btn btn-primary" type=submit value="Sign up" >
    <a href="/login" class="btn btn-primary">Log in</a>
</form> 
